
<form method=post action='/'>

    <table>
      {% for field in form %}
        <tr>

        <td>{{ field.label }}</td>
        <td>{{ field }}</td>
        
        {% if field.errors %}
          <td><ul class=errors>
          {% for error in field.errors %}
            <li><font color="red">{{ error }}</font></li>
          {% endfor %}</ul></td>
        {% endif %}

        </tr>
      {% endfor %}
    </table>

    <p><input type="submit" value="Submit"></form></p>

    {% if result != None %}
    <p>
    <img src="data:image/png;base64,{{ result }}" width="500">
    </p>
    {% endif %}