{% extends "layout.html" %}

{% block content %}
  <form method=post action="/" enctype=multipart/form-data>
    <table>
      {% for field in form %}
        <tr>
          <td>{{ field.label }}</td>
          <td>{{ field }}</td>
          {% if field.errors %}
            <td>
              <ul class=errors>
                {% for error in field.errors %}
                  <li><font color="red">{{ error }}</font></li>
                {% endfor %}
              </ul>
            </td>
          {% endif %}
        </tr>
      {% endfor %}
    </table>
    <input type="submit" value="Submit" class="btn btn-primary">
  </form>

  {% if result != None %}
    <p>
      <img src="data:image/png;base64,{{ result }}">
    </p>
  {% endif %}
{% endblock %}
